body {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    height: 180px;
    /* justify-content: space-around; */
}

.img-size {
    width: 70px;
    height: 70px;
}

.card-sz {
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-body-sz {
    height: 50px;
}